.hotSpot {
  position: absolute;
  border: 2px dashed white; 
  width: auto;
  height: auto;
  background-color: rgb(197, 192, 192);
  /* opacity: 0.4; */
}

.hotSpot:hover {
  background-color: rgb(231, 231, 179);
}