.occupiedSpace {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: inherit;
  height: inherit;
  /* color: white; */
}

.emptySpace {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 118px;
  height: 118px;
  background-color: green;
  border: 1px solid rgba(12, 112, 25, 0.678);
}

.occupiedSpace:hover, .emptySpace:hover {
  opacity: 0.5;
}