/* .layout {
  position: relative;
  width: 400px;
  height: 400px;
  border: rgb(59, 59, 59) solid 4px;
  margin: 0 auto;
  background-color: rgb(202, 187, 165);
  color: black;
} */

.layout {
  position: relative;
  width: inherit;
  height: inherit;
  background-color: rgb(202, 187, 165);
  color: black;
}