.map {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
}


.hotSpot {
  z-index: 2;
  margin: 1px;
  border: 2px dashed white; 
  background-color: rgb(197, 192, 192);
  opacity: 0.5;
}

/* .hotSpot:hover ~ span{
  background-color: rgb(231, 231, 179);
} */
.hotSpotSelect > span {
  background-color: rgb(231, 231, 179);
}

.build {
  background-color: rgb(102, 43, 43);
  color: yellow;
}

.door {
  z-index: 4;
  background-color: red;
}

.walls {
  z-index: 3;
  background-color: rgb(66, 54, 26);
}
